#topWidget,#bottomWidget {
    background-color: #f0f9eb;
}

#chatTextEdit {
    background-color: #fff;
/*    border-image: url(:/images/chat_bg.jpg);*/
}

#inputTextEdit {
    background-color: #fff;
}

#emojiBtn {
    border: none;
    border-image: url(:/images/emoji.png)
}

#emojiBtn:hover {
    border-image: url(:/images/emoji_hover.png)
}

#sendBtn {
    background: pink;
}

